*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#one {
    width: 100%;
    height: 60px;
    background-color:#1a73e8;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#one ul{
    display: flex;
    list-style: none;
    margin-right: 330px;
    gap:15px;
    color: white;
    position: relative;
}




#one ul li a:hover{
    opacity: 0.5;
}
#one p{
    color: white;
    margin: 160px;
    position: relative;
}



#navbar{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}
#navbar nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
#navbar nav ul li a{
    text-decoration: none;
    color: black;
}
#navbar nav ul li a:hover{
    color: blue;
}
#navbar p{
    font-size: 40px;
    padding-left: 150px;
  
}

#navbar button{
    margin-right: 40px;
}

#btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  #btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }


/* nav bar end main section start */



#first{
    background-color:rgb(233, 215, 215);
    padding: 30px 150px 30px 150px;
    height: 350px;
    line-height: 2;
    font-size: 20px ;
}



#second ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 50px;


}
h2{
    padding: 50px;
}
#second ul li img:hover{
    transform: scale(1.2);
    transition: transform 0.8s;

}


#third ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 50px;

}
#third ul li img:hover{
    transform: scale(1.2);
    transition: transform 0.8s;

}
#fourth ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 50px;
 
}
#fourth ul li img:hover{
    transform: scale(1.2);
    transition: transform 0.8s;

}
#fifth ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 50px;

}
#fifth ul li img:hover{
    transform: scale(1.2);
    transition: transform 0.8s;

}
#sixth h2{
    margin: 2px;
    padding-left: 40%;
    font-weight: lighter;
}

.Premium{
    display: flex;
    justify-content: space-evenly;
}

.Premium li{
    list-style: none;
    padding: 5px;
   
    
}
.Premium li  a {
    color: #1A73E8;
    font-size: 18px;
    text-decoration: black underline;
    
}
#sixth h4{
    margin: 30px;
    padding-left: 100px;
    font-weight: lighter;
}
 /*#navbar p{ 
    font-size: 60px;
    font-size: bold;
    position: relative;
    animation: moveText 15s linear infinite;
}
@keyframes moveText{
    0%{
        left: 0;
    }
    100%{
        left: 100%;
    }
}*/
 
 #seventh{
    width: 100%;
    height: 300px;
    background-color: #f7f7f7;
   display: flex;
   justify-content: center;
   justify-content: space-around;

 }
 #seventh h1{
    font-size: 30px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #button{
    font-size: 30px;
    margin-top: 120px;
    margin-bottom: 120px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    padding: 7px;
    width: 250px;
 }
 footer{
    background-color: #1b1a1af7 ;
    display: flex;
 }
 footer ul{
    width: 500px;
    height: 100vh;
    padding: 40px;
    list-style: none;

    
 }
 footer ul li {
    margin: 10px;
    padding: 10px;
    position: relative;
    top: 7%;
    left: 25%;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
 }
 footer ul li:hover{
    color: rgba(255, 255, 255, 0.8);
 }
 footer p{
    font-size: 60px;
    color: white;
    margin: 70px;
    padding: 10px;
}

.small p{
    color: rgb(255, 255, 255, 0.4);
    font-size: 20px;

}
