*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#one {
    width: 100%;
    height: 60px;
    background-color:#1a73e8;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#one ul{
    display: flex;
    list-style: none;
    margin-right: 330px;
    gap:15px;
    color: white;

}
#one p{
    color: white;
    margin: 160px;
}
#navbar{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position:fixed;
}
#navbar nav ul{
    display: flex;
    gap: 20px;
    list-style: none;

}
#navbar nav ul li a{
    text-decoration: none;
    color: black;
}
#navbar p{
    font-size: 40px;
    padding-left: 150px;
}

#navbar button{
    margin-right: 40px;
}


/* nav bar end main section start */



#first{
    background-color:rgb(233, 215, 215);
    padding: 30px 150px 30px 150px;
    height: 350px;
    line-height: 2;
    font-size: 20px ;
}



#second ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 50px;

}
h2{
    padding: 50px;
}
#second ul li img:hover{
    transform: scale(1.2);
}


#third ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 50px;

}
#third ul li img:hover{
    transform: scale(1.2);
}
#fourth ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 50px;

}
#fourth ul li img:hover{
    transform: scale(1.2);
}
#fifth ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 50px;
}
#fifth ul li img:hover{
    transform: scale(1.2);
}
